body {
  font-family: "Segoe UI", sans-serif;
}

#sidebar .list-group-item {
  border: none;
  padding: 14px 20px;
  font-size: 16px;
}

#sidebar .list-group-item:hover {
  background-color: #f2f7ff;
  color: #0d6efd;
}

.navbar {
  height: 60px;
}

.property-card:hover {
  transform: translateY(-4px);
  transition: 0.3s;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.1);
}
